<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home Page</title>
        <style>
            .main{
                width: 100%%;
                height: auto;
                color: yellow;
                background-color: red;
                padding: 20px;
                font-size: 30px;
            }
        </style>
    <body bgcolor="skyblue">
        <div class="main">
            <h1>
                Welcome to django. | Ayodhya.
            </h1>
        </div>
    </body>
</html>
